{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<div class="background-layout">
    <div class="wrapper">
        <div class="login-box">
            <div class="login-box__title">Registration</div>
            {% for message in get_flashed_messages() %}
            <p class="login-box__alert">{{ message }}</p>
            {% endfor %}
            <form class="form" id="registration_form" method="POST">
                {{ form.csrf_token }}
                <fieldset class="form__fields">
                    <div class="form__field">
                        <label class="form__label" for="">Email</label>
                        {{ form.email(class="form__input") }}
                    </div>
                    <div class="form__field">
                        <label class="form__label" for="">Username</label>
                        {{ form.username(class="form__input") }}
                    </div>
                    <div class="form__field">
                        <label class="form__label" for="">Password</label>
                        {{ form.password(class="form__input") }}
                    </div>
                    <div class="form__field">
                        <label class="form__label" for="">Repeat password</label>
                        {{ form.repeat_password(class="form__input") }}
                    </div>
                     {{ form.submit(class="form__button") }}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}