<!DOCTYPE html>

<html lang="en">
<head>
    <script async src=""></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=1024" name="viewport">
    <link rel="image_src" href="">
    <meta content="Simple blog">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>BLOG</title>
</head>
<body>
    <div class="wrapper">
        <div class="grid">
            <div class="header">
                <div class="logo">
                    <a href="">BLOG</a>
                </div>
            </div>
            <div class="menu-bar">
                <div class="search">
                    <input type="text">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                             viewBox="0 0 512 512" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M225.474,0C101.151,0,0,101.151,0,225.474c0,124.33,101.151,225.474,225.474,225.474
                                c124.33,0,225.474-101.144,225.474-225.474C450.948,101.151,349.804,0,225.474,0z M225.474,409.323
                                c-101.373,0-183.848-82.475-183.848-183.848S124.101,41.626,225.474,41.626s183.848,82.475,183.848,183.848
                                S326.847,409.323,225.474,409.323z"/>
                        </g>
                    </g>
                            <g>
                        <g>
                            <path d="M505.902,476.472L386.574,357.144c-8.131-8.131-21.299-8.131-29.43,0c-8.131,8.124-8.131,21.306,0,29.43l119.328,119.328
                                c4.065,4.065,9.387,6.098,14.715,6.098c5.321,0,10.649-2.033,14.715-6.098C514.033,497.778,514.033,484.596,505.902,476.472z"/>
                        </g>
                    </g>
                    </svg>
                    </a>
                </div>
                <div class="login">
                    <a href="" class="sign-in">Sign-In</a>
                    <a href="" class="registration">Registration</a>
                </div>
            </div>
            <div class="content">
                <div class="post">
                    <a href="">
                        <h3 class="title">Title post</h3>
                    </a>
                    <span class="info">12:21 01.01.21 | admin</span>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur
                        cum
                        cumque deserunt dignissimos, eveniet fuga ipsam magni natus nemo pariatur quas quos repellat sit
                        soluta tempora ut voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur
                        cum
                        cumque deserunt dignissimos, eveniet fuga ipsam magni natus nemo pariatur quas quos repellat sit
                        soluta tempora ut voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur
                        cum
                        cumque deserunt dignissimos, eveniet fuga ipsam magni natus nemo pariatur quas quos repellat sit
                        soluta tempora ut voluptas?</p>
                    <a href="" class="read-more">Read more</a>
                    <div class="post-stats">
                        <ul class="post-stats-wrapper">
                            <li class="rating">
                                <button class="rating-vote-up">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;"
                                         xml:space="preserve">
                                <g>
                                    <g>
                                        <polygon
                                                points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
                                    </g>
                                </g>
                                </svg>
                                </button>
                                <span class="rating-counter">+4</span>
                                <button class="rating-vote-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;"
                                         xml:space="preserve">
                                <g>
                                    <g>
                                        <polygon
                                                points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
                                    </g>
                                </g>
                                </svg>
                                </button>
                            </li>
                            <li class="comment">
                                <a href="">
                                    <svg height="682pt" viewBox="-21 -47 682.66669 682" width="682pt"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m552.011719-1.332031h-464.023438c-48.515625 0-87.988281 39.464843-87.988281 87.988281v283.972656c0 48.414063 39.300781 87.816406 87.675781 87.988282v128.863281l185.191407-128.863281h279.144531c48.515625 0 87.988281-39.472657 87.988281-87.988282v-283.972656c0-48.523438-39.472656-87.988281-87.988281-87.988281zm50.488281 371.960937c0 27.835938-22.648438 50.488282-50.488281 50.488282h-290.910157l-135.925781 94.585937v-94.585937h-37.1875c-27.839843 0-50.488281-22.652344-50.488281-50.488282v-283.972656c0-27.84375 22.648438-50.488281 50.488281-50.488281h464.023438c27.839843 0 50.488281 22.644531 50.488281 50.488281zm0 0"/>
                                        <path d="m171.292969 131.171875h297.414062v37.5h-297.414062zm0 0"/>
                                        <path d="m171.292969 211.171875h297.414062v37.5h-297.414062zm0 0"/>
                                        <path d="m171.292969 291.171875h297.414062v37.5h-297.414062zm0 0"/>
                                    </svg>
                                    <span>Comment</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
                <div class="post">
                    <h3 class="title">Title post</h3>
                    <span class="info">12:21 01.01.21 | admin</span>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur
                        cum
                        cumque deserunt dignissimos, eveniet fuga ipsam magni natus nemo pariatur quas quos repellat sit
                        soluta tempora ut voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur
                        cum
                        cumque deserunt dignissimos, eveniet fuga ipsam magni natus nemo pariatur quas quos repellat sit
                        soluta tempora ut voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid aspernatur
                        cum
                        cumque deserunt dignissimos, eveniet fuga ipsam magni natus nemo pariatur quas quos repellat sit
                        soluta tempora ut voluptas?</p>
                    <a href="" class="read-more">Read more</a>
                    <div class="post-stats">
                        <ul class="post-stats-wrapper">
                            <li class="rating">
                                <button class="rating-vote-up">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;"
                                         xml:space="preserve">
                                <g>
                                    <g>
                                        <polygon
                                                points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
                                    </g>
                                </g>
                                </svg>
                                </button>
                                <span class="rating-counter">+4</span>
                                <button class="rating-vote-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;"
                                         xml:space="preserve">
                                <g>
                                    <g>
                                        <polygon
                                                points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
                                    </g>
                                </g>
                                </svg>
                                </button>
                            </li>
                            <li class="comment">
                                <a href="">
                                    <svg height="682pt" viewBox="-21 -47 682.66669 682" width="682pt"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="m552.011719-1.332031h-464.023438c-48.515625 0-87.988281 39.464843-87.988281 87.988281v283.972656c0 48.414063 39.300781 87.816406 87.675781 87.988282v128.863281l185.191407-128.863281h279.144531c48.515625 0 87.988281-39.472657 87.988281-87.988282v-283.972656c0-48.523438-39.472656-87.988281-87.988281-87.988281zm50.488281 371.960937c0 27.835938-22.648438 50.488282-50.488281 50.488282h-290.910157l-135.925781 94.585937v-94.585937h-37.1875c-27.839843 0-50.488281-22.652344-50.488281-50.488282v-283.972656c0-27.84375 22.648438-50.488281 50.488281-50.488281h464.023438c27.839843 0 50.488281 22.644531 50.488281 50.488281zm0 0"/>
                                        <path d="m171.292969 131.171875h297.414062v37.5h-297.414062zm0 0"/>
                                        <path d="m171.292969 211.171875h297.414062v37.5h-297.414062zm0 0"/>
                                        <path d="m171.292969 291.171875h297.414062v37.5h-297.414062zm0 0"/>
                                    </svg>
                                    <span>Comment</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>