<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=1024" name="viewport">
    <meta content="Simple blog">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/main.css">
    <title>500</title>
</head>
<body>
    <div class="wrapper">
        <div class="grid">
            <div class="error">
                <p class="error__title">505 Internal Server Error</p>
                <a href="/" class="error__link">Back to main page</a>
            </div>
        </div>
    </div>
</body>
</html>