{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="wrapper">
    {% include "header.html" %}
    <div class="post">
        <h3 class="post__title">{{ post.title|safe }}</h3>
        <span class="post__info">{{ moment(post.timestamp).format('LLL') }} | {{ post.user.username }}</span>
        <p class="post__text">{{ post.content|safe }}</p>
        <ul class="post-stats">
            <li class="post-stats__rating">
                <button id="rating_vote_up" class="post-stats__button post-stats__vote-up">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;"
                         xml:space="preserve">
                        <g>
                            <g>
                                <polygon
                                    points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
                            </g>
                        </g>
                    </svg>
                </button>
                <span class="post-stats__rating-counter" id="rating-counter">{{ post.rating }}</span>
                <button id="rating_vote_down" class="post-stats__button post-stats__rating-vote-down">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 256 256" style="enable-background:new 0 0 256 256;"
                         xml:space="preserve">
                        <g>
                            <g>
                                <polygon
                                    points="225.813,48.907 128,146.72 30.187,48.907 0,79.093 128,207.093 256,79.093 		"/>
                            </g>
                        </g>
                    </svg>
                </button>
            </li>
        </ul>
        <p class="post__alert" id="post-alert"></p>
        <div class="comments">
            <a href="comments"></a>
            <span class="comments__head-title">Comments</span>
            {% for comment in comments_list %}
            <div class="comments__item">
                <div class="comments_title">
                    <span class="comments__username">{{ comment.user.username }}</span>
                    <span class="comments__date">  {{ moment(comment.timestamp).format('LLL') }}</span>
                </div>
                <p class="comments__text">{{ comment.text }}</p>
            </div>
            {% endfor %}
            {% if current_user.is_authenticated %}
            <div class="comments__add">
                <form class="form" id="comment_form" method="POST">
                    {{ form.csrf_token }}
                    <fieldset class="form-comment">
                        {{ form.comment_text(class="form-comment__textarea")  }}
                        {{ form.submit(class="form-comment__send") }}
                    </fieldset>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}